GOOGLE_API_KEY="your_google_api_key_here"
OPENAI_API_KEY="your_openai_api_key_here"

## uncomment if you want to trace with LangSmith
# LANGSMITH_TRACING=true
# LANGSMITH_API_KEY="your_langsmith_api_key_here"
# LANGSMITH_PROJECT=mat409-chatbot